.track-selected, .track {
    stroke-width: 10px;
    stroke-linecap: round;
}

.track {
    stroke: lightgray;
}

.track-selected {
    stroke: #61dafb;
}


#d3-date-slider {
    cursor: pointer;
    max-width: 960px;
    margin: 0 auto;
}