.perf-filters {
    display: flex;
    justify-content: flex-end;
}

.perf-filters > * {
    margin: 5px
}

.perf-info {
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
}

.perf-info > div {
    display: grid;
    place-items: center;
}

.perf-chart {
    height: 50vh;
    display: grid;
    place-items: center;
}

@media only screen and (min-width: 1000px) {
    .perf-info {
        grid-template-columns: 50% 50%;
    }
}
